name: Deploy Task Manager

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd ~/devops-task-manager
          git pull
          
          export DB_PASSWORD="${{ secrets.DB_PASSWORD }}"
          export MYSQL_ROOT_PASSWORD="${{ secrets.MYSQL_ROOT_PASSWORD }}"
          export GEMINI_API_KEY="${{ secrets.GEMINI_API_KEY }}"
          export SECRET_KEY="${{ secrets.SECRET_KEY }}"
          
          docker compose down
          docker compose up --build -d